
# Elasticsearch Configuration
ELASTIC_NODE=https://elasticsearch.siobytes.com
ELASTIC_API_KEY_ID=Ikw5R5cBj2pVgSUqN3iU
ELASTIC_API_KEY=YfiOaOhOpUFhfm2auo6y7Q

# Kafka Configuration
KAFKA_BROKERS=pkc-7xoy1.eu-central-1.aws.confluent.cloud:9092
KAFKA_CLIENT_ID=synthetics-extractor
KAFKA_USERNAME=TEYKVCU5AUA64RTC
KAFKA_PASSWORD=XAKsYLdLWWmVAyzmiqDsA9AxXHysQFzr47WpAczgL0PRqasA4IjvzYtOuOZQutsb
KAFKA_SSL=true

# API Configuration
PORT=3000
NODE_ENV=production

# Metrics Configuration
METRICS_ENABLED=true
METRICS_PORT=9090
METRICS_PREFIX=synthetics_extractor__
METRICS_ENDPOINT=/metrics
